.newblog {
    width: 30%;
    max-height: 80%;
    min-height: 50%;

    // background-color: skyblue;
    margin: 10px;
    position: fixed;
    z-index: 1;
    right: 0;
    overflow-x: hidden;
}

mat-card {

    overflow-y: auto;
}
// .container {
//     width: 60%;
// }